.header {
  background: #fff;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  margin-right: 16px;
  color: #000;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 144px;
    height: auto;
  }
}

.left-header {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.menu {
  flex-grow: 1;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.icon-row {
  display: flex;
  align-items: center;
}

.icon {
  margin: 0 12px;
  width: 20px;
  font-size: 20px;
  color: rgb(31, 31, 31);
  flex-shrink: 0;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-dropdown-link {
  cursor: pointer;
}

.ant-dropdown-menu-item {
  cursor: pointer;
}

.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light {
  border-bottom: none;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  flex-shrink: 0;
}

.create-app-modal .ant-modal-content {
  padding-top: 36px;
}

.create-app-modal .modal-option {
  margin: 14px 0;
}

.create-app-modal .ant-card {
  cursor: pointer;

  .ant-card-body {
    padding: 10px 20px;
  }

  .modal-card-title {
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
  }

  .modal-card-text {
    color: rgb(190, 190, 190);
    margin: 10px 0;
  }
}

.create-app-modal .ant-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}