.header {
  background: #fff;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  color: #000;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 144px;
    height: auto;
  }
}

.left-header {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.menu {
  flex-grow: 1;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.icon-row {
  display: flex;
  align-items: center;
}

.icon {
  margin: 0 12px;
  width: 20px;
  font-size: 20px;
  color: rgb(31, 31, 31);
  flex-shrink: 0;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-dropdown-link {
  cursor: pointer;
}

.ant-dropdown-menu-item {
  cursor: pointer;
}

.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light {
  border-bottom: none;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  flex-shrink: 0;
}
