.card-container {
  height: 100vh;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.white-button {
  color: white;
}

.login-card {
  width: 360px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-color: transparent;
  display: block;
  flex-direction: column;
  align-items: center;

  .centered-title {
    text-align: center;
    margin-top: 12px;
    font-size: 36px;
    font-weight: 500;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .centered-description {
    text-align: center;
    margin-bottom: 16px;
    font-size: 16px;
    color: rgb(228, 228, 228);
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .logo {
    width: 120px;
    margin: auto;
    display: flex;
  }

  .ant-card-head {
    border-bottom: none;
  }
}

.or-divider {
  text-align: center;
  color: rgb(192, 192, 192);
  margin-top: -12px;
  margin-bottom: 12px;
}

.login-button {
  margin-bottom: 12px;
}
